{% extends "app/base.html" %}
{% load i18n static bootstrap4 bootstrap_icons %}

{% block bootstrap4_extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'bootstrap_icons/css/bootstrap_icons.css' %}">
<style>
    .my-hover:hover { color: red; }
    .my-background {
        color: white;
        background-color: lightgray;
        padding: 5px;
        border: 1px solid #333;
        border-radius: 20%;
    }
    p {border-top: 1px solid gray;border-bottom: 1px solid gray;}
</style>
{% endblock %}

{% block page_title %}Bootstrap icon samples{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">

        <table class="table">
            <thead>
                <tr>
                    <th>Icon</th>
                    <th>Code</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{% bs_icon 'alarm' %}</td>
                    <td><pre>{% verbatim %}{% bs_icon 'alarm' %}{% endverbatim %}</pre></td>
                </tr>
                <tr>
                    <td>{% bs_icon 'calendar-date' %}</td>
                    <td><pre>{% verbatim %}{% bs_icon 'calendar-date' %}{% endverbatim %}</pre></td>
                </tr>
                <tr>
                    <td>{% bs_icon 'alarm' color='red' %}</td>
                    <td><pre>{% verbatim %}{% bs_icon 'alarm' color='red' %}{% endverbatim %}</pre></td>
                </tr>
                <tr>
                    <td>{% bs_icon 'alarm' size='1.5em' %}</td>
                    <td><pre>{% verbatim %}{% bs_icon 'alarm' size='1.5em' %}{% endverbatim %}</pre></td>
                </tr>
                <tr>
                    <td>{% bs_icon 'alarm' size='20px' color='#7700CC' %}</td>
                    <td><pre>{% verbatim %}{% bs_icon 'alarm' size='20px' color='#7700CC' %}{% endverbatim %}</pre></td>
                </tr>
                <tr>
                    <td>{% bs_icon 'alarm' size='3em' extra_classes='my-hover my-background' %}</td>
                    <td>
                        <pre>
{% verbatim %}{% bs_icon size='2em' extra_classes='my-hover my-background' %}
css:
.my-hover:hover { color: red; }
.my-background {
    color: white;
    background-color: lightgray;
    padding: 5px;t
    border: 1px solid #333;
    border-radius: 20%;
}
                        {% endverbatim %}
                        </pre>
                    </td>
                </tr>
                <tr>
                    <td>{% custom_icon 'paper-plane' size='1.5em' color='blue' %}</td>
                    <td><pre>{% verbatim %}{% custom_icon 'paper-plane' size='1.5em' color='blue' %}{% endverbatim %}</pre></td>
                </tr>
                <tr>
                    <td>
                        {% bs_icon 'alarm' extra_classes="bi-valign-default" %}
                        {% bs_icon 'alarm' extra_classes="bi-valign-middle" %}
                        {% bs_icon 'alarm' extra_classes="bi-valign-bottom" %}
                        {% bs_icon 'alarm' extra_classes="bi-valign-text-top" %}
                        {% bs_icon 'alarm' extra_classes="bi-valign-text-bottom" %}
                    </td>
                    <td><pre>{% verbatim %}Alignement extra_classes: bi-valign-default bi-valign-middle bi-valign-bottom
                          bi-valign-text-top bi-valign-text-bottom{% endverbatim %}</pre></td>
                </tr>
                <tr>
                    <td>{% bs_icon 'alarm' size='1.5em' extra_classes="text-success bg-warning" %}</td>
                    <td><pre>{% verbatim %}{% bs_icon 'alarm' size='1.5em' extra_classes="text-success bg-warning" %}{% endverbatim %}</pre></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<p>
    {% bs_icon 'alarm' extra_classes="bi-valign-default" %} align -.125 and some text
</p>
<p>
    {% bs_icon 'alarm' extra_classes="bi-valign-middle" %} align middle and some text
</p>
<p>
    {% bs_icon 'alarm' extra_classes="bi-valign-bottom" %} align bottom and some text
</p>
<p>
    {% bs_icon 'alarm' extra_classes="bi-valign-text-top" %} align text-top and some text
</p>
<p>
    {% bs_icon 'alarm' extra_classes="bi-valign-text-bottom" %} align text-bottom and some text
</p>
{% endblock %}
